---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import PhotoGallery from "@/components/PhotoGallery.astro";
import OptimizedImage from '../components/OptimizedImage.astro';
---

<BaseLayout>
  <div>
    <Introduction />
    <hr
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <!-- <PhotoGallery collection="escher"/> -->
    <!-- For regular images -->
    <div class="featured-section">
      <h2 class="featured-heading">Featured Photo</h2>
      <div class="image-wrapper">
        <OptimizedImage 
          src="/photos/escher/escher_puddle.png"
          alt="Featured photo"
          width={300}
          height={150}
          loading="lazy"
        />
      </div>
      <p class="image-caption"> M.C. Escher,  <em>Puddle</em>,  1972</p>
    </div>
    
    <style>
      .featured-section {
        margin: 2rem auto;
        max-width: 800px;
      }
      
      .featured-heading {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #FFF;
        font-weight: 600;
      }
      
      .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .image-caption {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.0rem;
        color: #CCC;
        font-style: italic;
      }
    </style>
    <hr 
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15" 
    />
    <Posts />
    <div class="mt-8">
      <Projects />
    </div>
  </div>
</BaseLayout>
