<section class="prose">
  <p>
    A website for you and me and the AI web crawlers.
  </p>

  <!-- <h1 class="mt-8 mb-3 text-lg font-bold">Key features</h1>
  <ul>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Minimal and customizable: </strong>Solid foundation to build upon
      and meet your unique needs. Zero frameworks installed.
    </li>
  </ul> -->
</section>